@font-face {
  font-family: TTfirs;
  src: url(../public/Montserrat-Light.ttf);
}
:root {
  --light-color: #ffffff;
  --offWhite-color: #ffa8a8;
  --dark-color: #0a1123;
  --light-shadow: #7e7e7e;
  --dark-shadow: #080a11cc;
  --font: TTfirs;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark-color);
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

.movie-title {
  color: var(--light-color);
  font-family: var(--font);
  font-weight: lighter;
  padding-bottom: 20px;
}
.i-search {
  color: var(--light-color);
  margin-right: 3px;
  padding-top: 5px;
}
.input-search {
  display: flex;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  font-family: var(--font);
  border-radius: 20px;
  background-color: var(--dark-shadow);
}

.intro input {
  caret-color: var(--light-color);
  color: var(--light-shadow);
  border: none;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 20px;
  background-color: transparent;
}
.intro input:focus {
  outline: none;
}

.category {
  font-family: var(--font);
  font-weight: lighter;
  font-size: 50px;
  color: var(--light-color);
  margin: 0px 0px 20px 30px;
}
.movies-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 8px;
  justify-items: center;
}
.grid {
  background-color: var(--dark-color);
  width: 155px;
  height: auto;
  padding-bottom: 20px;
  margin-bottom: 20px;

  border-radius: 3px;
  word-wrap: break-word;
  word-break: break-all;
}
.grid:hover {
  box-shadow: 0px 0px 40px var(--dark-shadow);
  transition: 0.4s all ease-in;
}
.grid img {
  width: 100%;
  height: 80%;
  z-index: -10;
  object-position: top;
}

.grid h3 {
  text-align: center;
  font-size: 13px;
  color: var(--light-color);
  font-family: var(--font);
  font-weight: lighter;
}
.sub-year {
  color: var(--offWhite-color);
  font-family: var(--font);
  font-weight: lighter;
  font-size: 10px;
  text-align: center;
}

.result {
  text-align: center;
  margin-bottom: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.stars {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.star {
  position: relative;
  cursor: pointer;
}

.stars_radio-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
@media only screen and (max-width: 900px) {
  .grid {
    width: 100%;
    height: auto;
  }
  .category {
    font-size: 40px;
  }
  .movies-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
  }
}
@media only screen and (max-width: 500px) {
  .grid h3 {
    font-size: 10px;
  }
  .grid {
    width: 100%;
    height: auto;
  }
  .category {
    font-size: 20px;
  }
  .movies-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 70px;
    justify-items: center;
  }
}
